.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    padding: 0;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 100%;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    display: block;
}
.dropdown-item {
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    display: block;
    padding-left: 1.5rem;
}
.dropdown-item.suggestion:hover{
   background-color: #c5c5c5;
}
